<article>
    <header class="post-header">
        <div class="row">
            <div class="profile-image col-xs-1  col-sm-1 col-md-1">
                <a href="#"><img src="{{ post.author.image_profile.url }}" alt=""></a>
            </div>
            <div class="col-xs-11  col-sm-11 col-md-11">
                <h4>{{ post.author }}</h4>
            </div>
        </div>
    </header>
    <div class="post-content">
        <div class="row">
            <div class="photo">
                <img src="{{ post.photo.url }}" alt="">
            </div>
            <div class="row">
                <h5>{{ post.created_date }}</h5>
            </div>
        </div>

</article>
